@import url('https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #474747;
    color: #fff;
    font-family: B612 , monospace;
}
header{
    background-color: #fff;
    color: #474747;
    padding: 20px;
}
header > h1{
    text-align: center;
}
.score-board{
    border: 4px solid #fff;
    border-radius: 4px;
    font-size: 46px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    width: 15%;
    position: relative;
}
.badge{
    background-color: #D60606 ;
    color: #000;
    margin: 3px;
    width: 25%;
}
#user-label{
    position: absolute;
    top: 20px;
    left: -35px;
    font-size: 16px;
}
#computer-label{
    position: absolute;
    top: 20px;
    right: -35px;
    font-size: 16px;
}
.result{
    margin-top: 20px;
    text-align: center;
}
.result > p{
    font-size: 40px;
    font-weight: bold;
}
.choices{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.choice{
    border: 4px solid #E6E5E4;
    border-radius: 50%; 
    display: inline-block;
    margin: 15px;
    padding: 15px;
    transition: all 0.3s ease-in;
}
.choice:hover{
    cursor: pointer;
    background-color: #F5F3F2;
}
#s{
    transform: rotate(270deg);
}
#action-message{
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.green-glow{
    border: 4px solid #A9E400;
    box-shadow: 0 0 10px #7CC602;
}

.red-glow{
    border: 4px solid #F51E00;
    border-radius: 50%;
    box-shadow: 0 0 10px #C81A02;
    
}

.yellow-glow{
    border: 4px solid #FFEA50;
    border-radius: 50%;
    box-shadow: 0 0 10px #DFC401;
    
}
